.chord {
  padding-top:   25px;
  padding-left:  10px;
  padding-right: 10px;
  float:         left;
}

.footer {
  clear: both;
}

img {
  padding-left:  3px;
  padding-right: 3px;
}

g>line {
  shape-rendering: crispEdges;
}

g>circle {
  shape-rendering: geometricPrecision;
}

.spinner {
  display: block;
  height: 200px;
  width: 200px;
  position: relative !important;
  margin-top: 60px;
  margin-bottom: 0px;
}
