<!doctype html>
<html ng-app="chordApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="public">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js" charset="utf-8"></script>
    <script src="bower_components/lodash/dist/lodash.min.js" charset="utf-8"></script>
    <script src="bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="node_modules/angular-spinner/node_modules/spin.js/spin.min.js"></script>
    <script src="bower_components/d3/d3.min.js" charset="utf-8"></script>
    <script src="node_modules/angular-spinner/angular-spinner.min.js" charset="utf-8"></script>
    <script src="chordApp.js" charset="utf-8"></script>
    <script src="js/controllers.js"></script>
    <script src="directives/chord.js"></script>
    <script src="filters/filters.js"></script>
    <script src="services/tuningService.js"></script>
    <script src="services/chordService.js"></script>
    <title>Chord charts - beta</title>
</head>
<body ng-controller="ChordListCtrl as chord">
<div class="container-fluid">
  <h1>Chord charts - beta</h1>
  <form novalidate class="form-inline">
    <div class="form-group">
      <label title="Examples: CM7, Aadd9, F&#x266f;m7&#x266d;5, x 0 2 2 1 0">Chord:</label>
      <input type="text"
             ng-model="chord.myData.chord"
             ng-change="chord.onChange()"
             class="form-control"
             placeholder="Enter chord(s) here"
             ng-required=true>
    </div>
    <div class="form-group">
      <label title="">Fret span:</label><input type="number"
                                               class="form-control"
                                               ng-model="chord.myData.fretSpan"
                                               value="4"
                                               placeholder="4"
                                               min="1"
                                               max="12"
                                               ng-maxlength=2>
    </div>
      <div class="checkbox">
        <label ><input type="checkbox" class="form-control" ng-model="chord.myData.shell"> Shell</label></div>
      <div class="checkbox">
        <label ><input type="checkbox" class="form-control" ng-model="chord.myData.condense"> Condense</label></div>
    <div class="form-group">
      <label>Tuning:</label><edit-select></edit-select>
    </div>
    <input type="submit" ng-disabled="chord.isDisabled" ng-click="chord.myData.doClick(item, $event)" class="btn btn-primary"/>
      <a href="help.html">How do I use this???</a>
  </form>
  <hr>
  <span us-spinner="{lines: 11, length: 0, width: 14, radius: 28, opacity:0.05}" spinner-key="spinner-1"></span>
    <div class="chords" ng-if="chord.myData.chords.numChords > 1">
        <div ng-repeat="chordBlock in chord.myData.chords.chordList">
            <div class="chordBlock">
                <div ng-repeat="chord in chordBlock">
                    <div chord class="chord"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="chords" ng-if="chord.myData.chords.numChords === 1">
        <div ng-repeat="chord in chord.myData.chords.chordList">
            <div chord class="chord"></div>
        </div>
    </div>

    <footer class="footer">
    <hr>
      Version: 20160501
    <h3>Built with:</h3>
    <img src="images/AngularJS-small.png" height="50"><img src="images/d3js.svg" height="50">
    <img src="images/Scala_logo_transparent.png" height="50"><img src="images/Scalatra_Logo.png" height="50">
  </footer>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62560826-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
